.navbar{ 
  display:flex;
  align-items:center;
  justify-items:space-between;
  padding:20px;
  background:#111;
  color:white;
}
.navbar ul{ 
  display:flex;
  gap:20px;
  list-style:none;
}
.hero { 
  text-align:center;
  min-height: calc(100vh - 70px);
  dislay: flex; 
  justify-content: center;
  align-items:center;
  margin-top:200px;
}
.hero-content{ 
  text-align:center;

}
.hero h1{ 
  font-size:70px;
  font-weight:700;
  letter-spacing:2px; 
  color:white;
   padding-top: 120px;
}
.card{ 
  background:white;
  color:black;
  padding:20px;
  border-radius:10px;
  width:250px;
  text-align:center;
  margin-bottom:30px;

}
.card h2{ 
  margin-bottom:10px;

}
.card p{ 
  font-size:14px;
  margin-bottom:10px;

}
.card h3{ 
  color:green; 

}
.card-container{
  display:flex;
  gap:30px;
  justify-content:center;
  flex-wrap:wrap;
  margin-top:20px;
}
.card:hover{
   transform: translateY(-10px);
   color:gold;
   box-shadow:gold;
} // yarin burdan devam calismaya !